.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 400px));
  grid-gap: 12px;
  justify-content: center;
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
